html {
    margin: 0px;
    padding: 0px;
}

body{
	margin: 0px;
    padding: 0px;
} 

#game-container{
    position: absolute;
	width:100%;
    height:100%;
}
#background, #canvas, #hud, #controls{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1280px;
    height: 720px;
}

/* ************************ */
/*           KEYS           */
/* ************************ */
#keys{
    display: none;
}
#toggle-controls{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url("../images/icon_joystick.png");
    background-size: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .6;
    border: 2px solid #fff;
    border-radius: 10px;
}
#toggle-player-1{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 80px;
    right: 10px;
    background-image: url("../images/icon_alliance_logo.png");
    background-size: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .6;
    border: 2px solid #fff;
    border-radius: 10px;
}
#toggle-player-2{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 150px;
    right: 10px;
    background-image: url("../images/icon_millennium_falcon.png");
    background-size: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .6;
    border: 2px solid #fff;
    border-radius: 10px;
}


#key-debug{
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    color: red;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    width: 200px;
    height: 22px;
}
.key{
    background: rgba(255,255,255,.2);
    border: 1px solid rgba(255,255,255,.4);
    position: absolute;
}
/* STICK */
.key.stick{
    width: 200px;
    height: 200px;
    border-radius: 50px;
}
#stick-left{
    border-radius: 50px;
    left: 40px;
    bottom: 40px;
}

/* ARROW KEYS */
.key.arrow{
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

#key-down{
    bottom: 10px;
    left: 70px;
}
#key-left{
    bottom: 70px;
    left: 10px;
}
#key-up{
    bottom: 130px;
    left: 70px;
}
#key-right{
    bottom: 70px;
    left: 130px;
}
/* OTHER KEYS */
#key-fire{
    width: 140px;
    height: 140px;
    border-radius: 70px;
    right: 50px;
    bottom: 50px;
    background: rgba(0,255,0,.2);
    border: 1px solid rgba(0,255,0,.4);
}
